<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" placeholder="Coloque o titulo do livro"/>
            </div>
            <div>
                    <label for="preco">Preço</label>
                    <input type="text" id="preco" name="preco" placeholder="150.0"/>
            </div>
            <div>
                    <label for="descricao">Descrição</label>
                    <textarea cols="10" rows="10" id="descricao" name="descricao" placeholder="Fale sobre o Livro"></textarea>
            </div>  
            
            <input type="submit" value="Gravar">
        </form>
    </body>
</html>